<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create a Blog Post!</title>
  </head>

  <body>
    <h1>Your Blog Post!</h1>
    <h3>Blog Title: </h3><br>
    <%= @post.name %>

  </body>
</html>
